<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>A Fleeting Dream on a Moonbeam</h1>
      </header>

    <p align='justify'>
        In the vast tapestry of life, my existence feels like delicate footprints imprinted on a sandy beach, beautiful precisely because it's ephemeral. 
        Time, much like water, has the power to gently erode the marks I leave behind. 
        The things I've done and the memories I've created might not stick around forever. 
        But I still go on leaving a trace, just so I can someday say to myself, 'I was here :)'.
    </p>
		
    <p align="justify"> 
        In the constant ebb and flow of life, I find comfort in accepting that the beauty lies in the fleeting moments. 
        This blog is in some sense a quixotic attempt to make sense of and capture fleeting moments in my life.
        Most likely, it'll be a tiny snapshot that, for an infinitesimal second, encapsulates something about my existence, be it essence or nonsense.
    </p>
        
    <p align="justify"> 
        I'm not sure what series of events brought you to my blog, but I'm genuinely delighted that you've made it this far. 
        I trust you'll stumble upon something here that resonates, whether it's something relatable, healing, or simply brings a silly smile to your face. 
        I wish you the best of luck and I hope you find what you are looking for. 
        And if may overstep my bounds just a little, I urge you to take a moment to gaze at the starry night sky — losing yourself once again in the magnificent splendor of the Universe. 
        Farewell for now, until we meet again &#128075; 
    </p>

        
    <!--
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    -->
    </div>
    <span class="image object">
      <img src="assets/images/blog-bg.jpg" alt="" />
    </span>
  </section>


