<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Homepage</a></li>
            <li><a href="{{ '/about_me' | absolute_url }}">About Me</a></li>
            <!-- <li>
              <span class="opener">Submenu</span>
              <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
              </ul>
            </li> -->            
            <li><a href="/blog/book_reviews">Book Reviews</a></li>
            <li><a href="/blog/higher_studies">Higher Studies</a></li> 
            <li><a href="/blog/media">Media Coverage</a></li>
            <li><a href="/blog/cinema">Moments from Cinema</a></li>
            <li><a href="/blog/musings/">Musings & Stuff</a></li>
            <li><a href="/blog/tamil">Tamil Poems & Lyrics</a></li>
            <li><a href="/blog/tech">Tech</a></li>
            <li><a href="/blog/travel">Travel Diaries</a></li>            
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>I'm usually not too active on social media. Shoot me an email and I'll get back to you asap!</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <!-- <li class="fa-phone">{{ site.phone }}</li> -->
            <li class="fa-home"> <!-- {{ site.street_address }}<br /> -->
            {{ site.city }}, {{ site.state }} <br /> <!-- {{ site.zip_code }} -->
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.author }}. All rights reserved. <br> Design: <a href="https://html5up.net">HTML5 UP</a>. 
              <br> Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
